<!--
 * @Author: wxfeiang
 * @Description: 
 * @Date: 2022-09-16 19:39:10
 * @LastEditTime: 2022-09-20 22:04:01
 * @FilePath: /js/element2-demo/tree4 copy 2.html
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
    <div id="app">

        <el-tabs v-model="currenindex" @tab-click="handleClick">
            <el-tab-pane label="用户管理" :name="index.toString()" v-for="(item,index) in data" :key="index">
                {{'tre'+index}}
                <el-tree :ref="'tree'+index" :data="item" show-checkbox node-key="id" :props="defaultProps">
                </el-tree>
            </el-tab-pane>



        </el-tabs>
        <el-button @click="sure">
            quding
        </el-button>


    </div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.13/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                currenindex: '0',
                activeName: 'second',
                data: [
                    [
                        {


                            id: 1,
                            label: '一级 1',
                            children: [{
                                id: 4,
                                label: '二级 1-1',
                                children: [{
                                    id: 9,
                                    label: '三级 1-1-1'
                                }, {
                                    id: 10,
                                    label: '三级 1-1-2'
                                }]
                            }]
                        }
                    ],
                    [
                        {


                            id: 222,
                            label: '一级 12222',
                            children: [{
                                id: 444,
                                label: '二级 1-1',
                                children: [{
                                    id: 93333,
                                    label: '三级 1-1-1'
                                }, {
                                    id: 133330,
                                    label: '三级 1-1-2'
                                }]
                            }]
                        }
                    ]


                ],
                defaultProps: {
                    children: 'children',
                    label: 'label'
                }


            }
        },

        methods: {

            handleClick(tab, event) {
                console.log(tab, event);
                let index = tab.index

                let s = 'tree' + index
                //console.log(s, this.$refs[s])

                //console.log(this.$refs['tree'].getCheckedKeys())

                console.log(this.$refs[s][0].getCheckedKeys())
            }
            ,
            sure(data) {
                for (let i = 0; i < this.data.length; i++) {
                    let s = 'tree' + i
                    this.$refs[s][0].setCheckedKeys([])
                }
            }





        },
        created() {
            //  = this.changeArr(this.options)
            // this.alt = this.getTreeList(this.treeData, this.newTreeList);

        }


    })





</script>






</html>