<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
    <div id="app">
        <div class="tab_box">

            <div v-for="(item,index) in tableList" :key="index">
                <!-- <div class="h3">
                    <div class="item-title item1">
                        星期{{ handlerWeek()[item.weekNum -1]}}
                    </div>
                    <div class="item-title item2">
                        {{item.createTime}}
                    </div>
                </div> -->
                <el-table :data="item.list" border :show-header="false" style="width: 100%"
                    :span-method="arraySpanMethod" :row-class-name="rowClassName">
                    <el-table-column prop="weekNum" align="center" label="星期" width="200px">
                    </el-table-column>

                    <el-table-column prop="timeMeal" :formatter="handlerDaysT" align="center" sortable label="就餐时间"
                        width="100px">
                    </el-table-column>
                    <el-table-column prop="categoryName" align="center" sortable label="类别" width="150px">
                    </el-table-column>
                    <el-table-column prop="foodName" align="center" sortable label="餐品">
                        <template slot-scope="scope">
                            <div class="tag_box">
                                <span class="tab_sapn" v-for="(item,index) in changeArr(scope.row.foodName)"
                                    :key="index">
                                    {{item}}
                                </span>
                            </div>



                        </template>
                    </el-table-column>
                </el-table>


            </div>

        </div>

    </div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.13/vue.js"></script>

<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                tableData: [],
                tableList: [],
                rows: [
                    {
                        id: '1561936182330081282',
                        weekNum: '2',
                        weekDate: '2022-07-31 00:00:00',
                        createTime: '2022-08-23 12:39:39',
                        updateTime: null,
                        moring: [
                            {
                                id: null,
                                timeMeal: 'MOR',
                                weekDateId: null,
                                foodTypeId: null,
                                foodName: '["小喵"]',
                                createTime: null,
                                updateTime: null,
                                categoryName: '面点33'
                            },
                            {
                                id: null,
                                timeMeal: 'MOR',
                                weekDateId: null,
                                foodTypeId: null,
                                foodName: '["小喵"]',
                                createTime: null,
                                updateTime: null,
                                categoryName: '面点'
                            },
                            {
                                id: null,
                                timeMeal: 'MOR',
                                weekDateId: null,
                                foodTypeId: null,
                                foodName: '["小喵33sss3"]',
                                createTime: null,
                                updateTime: null,
                                categoryName: '面点'
                            }
                        ],
                        midday: [
                            {
                                id: null,
                                timeMeal: 'MIDDAY',
                                weekDateId: null,
                                foodTypeId: null,
                                foodName: '["肌肉"]',
                                createTime: null,
                                updateTime: null,
                                categoryName: '肉食'
                            }
                        ],
                        night: [
                            {
                                id: null,
                                timeMeal: 'NIGHT',
                                weekDateId: null,
                                foodTypeId: null,
                                foodName: '["刀削麵"]',
                                createTime: null,
                                updateTime: null,
                                categoryName: '面食'
                            }
                        ]
                    },
                    {
                        id: '1561936182330081282',
                        weekNum: '2',
                        weekDate: '2022-07-we1 00:00:00',
                        createTime: '2022-08-23 12:39:39',
                        updateTime: null,
                        moring: [
                            {
                                id: null,
                                timeMeal: 'MOR',
                                weekDateId: null,
                                foodTypeId: null,
                                foodName: '["小喵daasdasd"]',
                                createTime: null,
                                updateTime: null,
                                categoryName: '面点33'
                            },
                            {
                                id: null,
                                timeMeal: 'MOR',
                                weekDateId: null,
                                foodTypeId: null,
                                foodName: '["小喵"]',
                                createTime: null,
                                updateTime: null,
                                categoryName: '面点'
                            },
                            {
                                id: null,
                                timeMeal: 'MOR',
                                weekDateId: null,
                                foodTypeId: null,
                                foodName: '["小喵33sss3"]',
                                createTime: null,
                                updateTime: null,
                                categoryName: '面点'
                            }
                        ],
                        midday: [
                            {
                                id: null,
                                timeMeal: 'MIDDAY',
                                weekDateId: null,
                                foodTypeId: null,
                                foodName: '["肌肉"]',
                                createTime: null,
                                updateTime: null,
                                categoryName: '肉食'
                            }
                        ],
                        night: [
                            {
                                id: null,
                                timeMeal: 'NIGHT',
                                weekDateId: null,
                                foodTypeId: null,
                                foodName: '["刀削麵"]',
                                createTime: null,
                                updateTime: null,
                                categoryName: '面食'
                            }
                        ]
                    }
                ],
                needMergeArr: ['weekNum', 'timeMeal', 'categoryName',], //需要进行合并的column的prop值 'timeMeal','foodName'
                rowMergeArrs: {}, //处理过后得到的每个column的合并规则
            }
        },
        created() {

            this.tableList = this.handleArr(this.rows)
            console.log(this.tableList)
            this.rowMergeArrs = this.rowMergeHandle(this.needMergeArr, this.tableList[0].list); // 处理数据
        },
        methods: {
            handleArr(arr) {

                let newarr = []
                arr.forEach(item => {
                    item.list = [...item.moring, ...item.midday, ...item.night,]
                    item.list.forEach(i => {
                        i.weekNum = item.weekNum
                    })

                })
                return arr
            },
            rowMergeHandle(needMergeArr, tableData) {
                if (!Array.isArray(needMergeArr) && !needMergeArr.length) return false;
                if (!Array.isArray(tableData) && !tableData.length) return false;
                let needMerge = {};
                needMergeArr.forEach(i => {
                    needMerge[i] = {
                        rowArr: [], //该数组用来记录在目前列中的每一行的cell应该向下合并几行还是应该被合并。如果对应数组的数据==0,则说明该cell应该被合并。
                        rowMergeNum: 0, //用来记录在目前列的第几行的行数，rowNum
                    };
                    tableData.forEach((item, index) => {
                        if (index === 0) {
                            needMerge[i].rowArr.push(1);
                            needMerge[i].rowMergeNum = 0;
                        } else {
                            if (item[i] === tableData[index - 1][i]) {
                                needMerge[i].rowArr[needMerge[i].rowMergeNum] += 1;
                                needMerge[i].rowArr.push(0);
                            } else {
                                needMerge[i].rowArr.push(1);
                                needMerge[i].rowMergeNum = index;
                            }
                        }
                    });
                });
                return needMerge;
            },
            arraySpanMethod({ column, rowIndex }) {

                for (let i = 0; i < this.needMergeArr.length; i++) {
                    if (column.property === this.needMergeArr[i]) {
                        return this.mergeAction(this.needMergeArr[i], rowIndex);
                    }
                }



            },
            mergeAction(val, rowIndex) {
                let _row = this.rowMergeArrs[val].rowArr[rowIndex];
                let _col = _row > 0 ? 1 : 0;
                console.log(_row, _col, '_row, _col')
                return [_row, _col];
            },
            changeArr(str) {
                //TODO: 后端如果返回正常的数组类型 可不用此方法
                let newStr = JSON.parse(JSON.stringify(str)).replace(/(\'|\")/g, "");
                let arrt = newStr.substring(1, newStr.length - 1).split(",")
                return arrt
            },
            handlerWeek() {
                return ["一", "二", "三", "四", "五", "六", "日"]
            },
            handlerDaysT(row, column, cellValue, index) {
                let day = ''
                switch (cellValue) {
                    case "MOR":
                        day = "早餐"
                        break;
                    case "MIDDAY":
                        day = "午餐"
                        break;
                    case "NIGHT":
                        day = "晚餐"
                        break;
                    default: "未知"
                }
                return day

            }
            ,
            rowClassName: function ({ row }) {
                if (row.categoryName === 'set') {
                    return "showRow";
                } else {
                    return
                }
            },
            // seizeASeat


        },


    })
</script>
<style lang="">
    body {
        /* background: #ccc; */
    }

    .tab_box {
        border: 1px solid #EBEEF5;

    }

    .h3 {
        display: flex;
        background: rgb(182, 89, 89);
        color: #fff
    }

    .item-title {

        text-align: center;
        line-height: 40px;
        border-bottom: none;
    }

    .item1 {
        width: 270px;
        border-right: 1px solid #EBEEF5;
    }

    .item2 {
        flex: 1;
    }

    .tag_box {
        display: flex;
        justify-content: center;

    }

    .tag_box span {
        display: inline-block;
        padding: 0 10px;

    }

    .showRow {
        display: none;
    }
</style>



</html>